<!-- lookup_dist.html -->
{% extends "geoquery/base.html" %}

{% block page_header %}Geopy Lookup (<a href="{% url 'home' %}">back home</a>){% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col">
        <p>Enter an address to determine the distance in miles to NMHU.</p>
        <form action="." method="get"> 
            {{ form.as_p }}
            <input type="submit" value="Look it up"/>
        </form>
    </div>
    <div class="col">
        {% if result %}
            <p> <b>Miles to graceland</b>: <span class="lead">{{ result }} miles</span></p>
        {% endif %}        
    </div>
</div>
{% endblock content %}